<!DOCTYPE html>
<html lang="en" ng-app="angularApp">
  <head>
    <title>Angular JS</title>
    <link rel="stylesheet" href="style.css" />
    <script src="angular.min.js"></script>
    <script src="script.js"></script>
  </head>
  <!--<body ng-init="numbers=[1,2,3,4,5]">
    <input type="text" ng-model="favCricketer" placeholder="Who's your favourite cricketer ?" />
    <p>Your favourite cricketer is: {{favCricketer}}</p>
    <p>{{numbers[1] + numbers[3]}}</p>-->
  <!--<body ng-init="vowels=['a','e','i','o','u']">
    <ul>
      <li ng-repeat="vowel in vowels">{{vowel}}</li>
    </ul>-->
  <body>
    <header ng-include="'header.html'"></header>
    <div class="content">
     <div ng-controller="AppController">
       <button ng-click="order = 'name'">Sort by Name</button>
       <button ng-click="order = 'age'">Sort by Age</button>
      <input type="text" ng-model="search" placeholder="Search friend" />
      <!--<p>{{message}}</p>-->
        <ul>
          <li ng-repeat="info in information | orderBy: order | filter: search" ng-show="!info.available"><h3>{{info.name}} - {{info.age}}</h3>
            <div class="remove" ng-click="removeFriend(friend)">Unfriend</div>
          </li>
        </ul>
        <form ng-submit="addFriend()">
          <input type="text" placeholder="Name" ng-model="newinfo.name" />
          <input type="number" placeholder="Age" ng-model="newinfo.age" />
          <input type="submit" value="Add new friend" />
        </form>
      </div>
    </div>
  </body>
</html>
